@import "scss/main";
#layout{
  overflow: hidden;
}
@keyframes cm-bounce {
  0%{opacity:0;transform:translateX(100px);}
  60%{opacity:1;transform:translateX(-30px);}
  80%{transform:translateX(10px);}
  100%{transform:translateX(0);}
}
.new{
  position:absolute;
  left:0;
  top:0;
  width: 100%;
  height:100%;
  z-index:1000;
  animation:cm-bounce 1s;
  animation-fill-mode:forwards;
}
