//$html-font-size:16;
//@function rem($px,$html-font-size:$html-font-size){
//  @return $px*1rem;
//}
$minScreen:768px;
$white:#fff;
$orange:#ff9800;
$red:#e91e63;
$blue:#00bcd4;
$purple:purple;
$gold:rgb(255,215,0);
$light-green: #8ebc07;
$light-blue:#4db798;